h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 93px;
    color: #ff6900;
}

.icon {
    margin-right: 3px;
}

h2 {
    text-align: center;
}