.logo {
    font-size: 36px;
    margin-top: 44px;
    color: #ff6900;
}

h2 {
<<<<<<< HEAD
    color: black;
}

=======
    color: gray;
}

.lob {
    margin-top: -10px;
}
>>>>>>> 6acb1ca34e89920e4963b8d776ab324883444321
