header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 94px;
    position: fixed;
    background-color: #EFEFEF transparent;
}

header svg {
    margin-left: 51px;
}

.avatar {
    margin-right: 55px;
}