header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    background-color: #EFEFEF transparent;
    border: 1px solid;
}

header svg {
    margin-left: 51px;
}

.avatar {
    margin-right: 55px;
    cursor: pointer;
}