header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 110px;
    background-color: #EFEFEF transparent;
}

.avatar {
    margin-right: 55px;
    cursor: pointer;
}